In [224]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [225]:
df = pd.read_csv('data/train.csv',usecols=['Age','Fare','Survived'])

In [226]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [227]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [228]:
df.dropna(inplace=True)

In [229]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [230]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [231]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [232]:
dt = DecisionTreeClassifier()

In [233]:
cross_val_score(dt,X_train,y_train,cv=10,scoring='accuracy').mean()

0.6253176043557168

In [234]:
trf  = KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile') # we can do strategy = 'kmeans','uniform',encode = 'onehot'

In [235]:
X_train_transformed = trf.fit_transform(X_train)

In [236]:
dt = DecisionTreeClassifier()

In [237]:
cross_val_score(dt,X_train_transformed,y_train,cv=10,scoring='accuracy').mean()

0.6777979431336962

In [238]:
#how bins are form
trf.bin_edges_

array([array([ 0.42, 14.  , 19.  , 22.  , 25.  , 28.5 , 32.  , 36.  , 42.  ,
              50.  , 80.  ])                                                ,
       array([  0.    ,   7.75  ,   7.8958,   9.225 ,  13.    ,  15.75  ,
               26.    ,  29.125 ,  51.4792,  82.1708, 512.3292])         ],
      dtype=object)

In [239]:
#number of bins
trf.n_bins_

array([10, 10])

In [240]:
# number of features
trf.n_features_in_

2

In [241]:
#feature name
trf.feature_names_in_

array(['Age', 'Fare'], dtype=object)