In [46]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score

In [47]:
df = pd.read_csv('data/train.csv',usecols=['Age','SibSp','Parch','Fare','Survived'])

In [48]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [49]:
df.dropna(inplace=True)

In [50]:
# let's check first cross val score before feature extraction
X = df.iloc[:,1:]
y = df.iloc[:,0]

print('Cross Val Score : ',cross_val_score(LogisticRegression(),X,y,cv=20,scoring='accuracy').mean())

Cross Val Score :  0.6836111111111112

# Feature Extraction -> Creating New Col using Old

In [51]:
df['Family_size'] = df['SibSp'] + df['Parch'] + 1

In [52]:
df.head()

   Survived   Age  SibSp  Parch     Fare  Family_size
0         0  22.0      1      0   7.2500            2
1         1  38.0      1      0  71.2833            2
2         1  26.0      0      0   7.9250            1
3         1  35.0      1      0  53.1000            2
4         0  35.0      0      0   8.0500            1

In [53]:
# let's create a function to divide this family in to small,medium and large
def size_f(num):
    if num == 1:
        return 0 # small
    elif num > 1 and num <= 4:
        return 1 # medium 
    else:
        return 2 # large

In [54]:
size_f(7)

2

In [55]:
df['Family_size'] = df['Family_size'].apply(size_f)

In [56]:
#df.drop(columns=['SibSp','Parch'],inplace=True)

In [57]:
df.head()

   Survived   Age  SibSp  Parch     Fare  Family_size
0         0  22.0      1      0   7.2500            1
1         1  38.0      1      0  71.2833            1
2         1  26.0      0      0   7.9250            0
3         1  35.0      1      0  53.1000            1
4         0  35.0      0      0   8.0500            0

In [58]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

print('Cross Val Score : ',cross_val_score(LogisticRegression(),X,y,cv=20,scoring='accuracy').mean())

Cross Val Score :  0.6950000000000002

# Feature Splitting

In [85]:
df = pd.read_csv('data/train.csv')[['Name','Survived']]

In [86]:
# this is logic for extracting title
df['Title'] = df['Name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]

In [103]:
# now we can perform analysis
df[(df['Survived'] == 0)]['Title'].value_counts()/len(df)

Title
Mr          0.489338
Miss        0.061728
Mrs         0.029181
Master      0.019080
Rev         0.006734
Dr          0.004489
Don         0.001122
Major       0.001122
Col         0.001122
Capt        0.001122
Jonkheer    0.001122
Name: count, dtype: float64

In [105]:
(df[(df['Survived'] == 1)]['Title'].value_counts())/len(df)

Title
Miss            0.142536
Mrs             0.111111
Mr              0.090909
Master          0.025814
Dr              0.003367
Mlle            0.002245
Mme             0.001122
Ms              0.001122
Major           0.001122
Lady            0.001122
Sir             0.001122
Col             0.001122
the Countess    0.001122
Name: count, dtype: float64